.total {
    color: black;
    font-size: 200%;
    margin-right: 15%;
}

.allTrans {
    display: flex;
    flex-direction: column;
    text-align: right;
}

.index {
    display: flex;
    margin-left: 12%;
    color: black;
    font-size: 250%;

}