nav {
  width: 87%;
  margin: 1%;
  display: flex;
  justify-content: space-around;
  align-items: center;

  background: rgb(255, 196, 247);
  background: linear-gradient(
    90deg,
    rgba(255, 196, 247, 1) 8%,
    rgba(217, 159, 249, 1) 48%,
    rgba(122, 209, 250, 1) 94%
  );
}

@font-face {
    font-family: ArimaMad;
    src: url('../styling/fonts/ArimaMadurai-ExtraBold.ttf');
}
@font-face {
    src: url('../styling/fonts/LobsterTwo-Bold.ttf');
    font-family: LobsterTwoBold;
}

p {
  font-size: 450%;
  color: white;
  font-family: LobsterTwoBold;
  margin: inherit;
}

.navContainer {
  display: flex;
  width: 100%;
  justify-content: center;
}
.redirect {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.3em 1.2em;
  margin:0 0.1em 0.1em 0;
  border: 0.16em solid rgba(255, 255, 255, 0);
  font-family: ArimaMad;
  border-radius: 29px;
  box-sizing: border-box;
  text-decoration: none;
  background-color: #fcb1ea;
  text-align: center;
  transition: all 0.2s;
  font-size: 100%;
  font-weight: bolder;
}
.redirect:hover {
  border-color: rgba(255, 255, 255, 1);
}

.link {
    text-decoration: none;
    color: white;
}

.buttons {
  display: flex;
  justify-content: flex-end;
}