table {
  display: flex;
  width: 80%; 
  border: 1px black solid;
  justify-content: center;
  background-color: #e9c7ff;
}

tbody {
  color: white;
  font-size: 180%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-family: ArimaMad;
  text-align: center;
}

td {
  display: flex;
  align-self: center;
}

.singleTrans {
  display: flex;
  padding: 0.5%;
  justify-content: center;
}

table:hover {
    background-color: #7f678f;
}

a {
  color: white;
  text-decoration: none;
  display: flex;
  justify-content: center;
}

